// units
$major-unit: 8px;
$minor-unit: 2px;

// major scale
$major-first: $major-unit * 1;
$major-second: $major-unit * 2;
$major-third: $major-unit * 3;
$major-fourth: $major-unit * 4;
$major-fifth: $major-unit * 5;
$major-sixth: $major-unit * 6;
$major-seventh: $major-unit * 7;
$major-eighth: $major-unit * 8;

// minor scale
$minor-first: $minor-unit * 1;
$minor-second: $minor-unit * 2;